<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>

<div class="authorbox">
 <hr class="author-container">
  <div id="author-content">
    <h4 class="section-title">Chi è il CMDR-Autore</h4>
    <div class="author-bio">
     <img itemprop="image" id="image-author" src="{{ author.gravatar }}" alt="{{ author.name }}">
     <div class="author-details">
        <p itemprop="author" id="name-author"><b>{{ author.display_name }}</b></p>
        <div id="about-author">{{ author.about }}</div>
     </div>
      <div id="social-author">
        {% if author.web %}
            <a href="{{ author.facebook }}" target="_blank"><span class="iconify" data-icon="brandico:facebook-rect" data-inline="false" style="color:#2e6db4;"></span></a>
            <a href="{{ author.twitter }}" target="_blank"><span class="iconify" data-icon="brandico:twitter-bird" data-inline="false" style="color:#2e6db4;"></span></a>
            <a href="{{ author.web }}" target="_blank"><span class="iconify" data-icon="ls:web" data-inline="false" style="color:#2e6db4;"></span></a>
        {% elsif  author.psnid %}
            <a href="{{ author.psnid }}" target="_blank"><span class="iconify" data-icon="fa-brands:playstation" data-inline="false" style="color:#2e6db4;"></span></a>
        {% endif %}
      </div>
    </div>
    </div>
</div>