<footer id="footer">
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" aria-hidden="true" rel="nofollow"><span class="label">Facebook</span></a></li>
        <li><a href="https://twitter.com/{{site.twitter.username}}" class="icon fa-twitter" aria-hidden="true" rel="nofollow"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.youtube.com/@{{site.youtube}}" class="icon fa-youtube" aria-hidden="true" rel="nofollow"><span class="label">YouTube</span></a></li>
        <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" aria-hidden="true" rel="nofollow"><span class="label">Instagram</span></a></li>
        <li><a href="https://discord.gg/TQcbuT7z8D" class="fa fa-discord-alt" aria-hidden="true" rel="nofollow"><span class="label">Discord</span></a></li> 
        <li><a href="https://t.me/{{site.telegram}}" class="fa fa-telegram fa-lg" aria-hidden="true" rel="nofollow"><span class="label">Telegram</span></a></li>
      </ul>
    </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul>
    <li style="text-transform: lowercase;">Site content copyright &copy; 2019 - {{ 'now' | date: "%Y" }} Flotta Stellare</li>
    <li>Design by <a href="https://cristiancastellari.it" rel="nofollow">Cristian Castellari</a></li>
    <li>Proudly hosted on <a href="https://github.com/ed-acfs">GitHub Pages</a> </li>
  </ul>
  <ul>
    <li>Elite Dangerous and all related marks are trademarks of Frontier Developments Inc.</li>
  </ul>
  <ul>
    <li id="disclaimer"><a href="/about/disclaimer/" title="Disclaimer e Licenza">Disclaimer e Licenza</a></li>  
    <li id="policy"><a href="https://www.iubenda.com/privacy-policy/69844068" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>
  </ul>
  <ul>
    <a rel="me" style="display:none;" href="https://mastodon.uno/@acfs">Mastodon - @acfs@mastodon.uno</a> 
    <a rel="me" style="display:none;" href="https://livellosegreto.it/@acfs">@acfs@livellosegreto.it</a> 
    <a rel="me" style="display:none;" href="https://mastodon.social/@acfs">@acfs@mastodon.social.it</a>
  </ul>
</div>
