<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<meta name="keywords" content="{{ site.keywords }}">
{% if page.robots %}
<meta name="robots" content="{{page.robots}},follow" />
{% else %}  
<meta name="robots" content="index,follow" />
{% endif %}
<meta name="rating" content="{{ site.settings.rating }}">
 
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ site.h1title }}">

<!-- favicons -->
<link rel="shortcut icon" type="image/png" href="{{ "/assets/icon/favicon-32x32.png" | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/icon/apple-icon-57x57.png" | prepend:site.baseurl }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/icon/apple-icon-60x60.png" | prepend:site.baseurl }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/icon/apple-icon-72x72.png" | prepend:site.baseurl }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/icon/apple-icon-76x76.png" | prepend:site.baseurl }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/icon/apple-icon-114x114.png" | prepend:site.baseurl }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/icon/apple-icon-120x120.png" | prepend:site.baseurl }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/icon/apple-icon-144x144.png" | prepend:site.baseurl }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/icon/apple-icon-152x152.png" | prepend:site.baseurl }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-icon-180x180.png" | prepend:site.baseurl }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ "/assets/icon/android-icon-192x192.png" | prepend:site.baseurl }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | prepend:site.baseurl }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/icon/favicon-96x96.png" | prepend:site.baseurl }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | prepend:site.baseurl }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | prepend:site.baseurl }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/icon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- CSS & Fonts Preload -->
<link rel="preload" href="{{ "/assets/css/eurocaps.css" | prepend:site.baseurl }}" as="eurocaps" />
<link rel="preload" href="/assets/fonts/EuroCaps.woff2" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/fontawesome-webfont.woff2" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/forkawesome-webfont.woff2" type="font/woff2" crossorigin>

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend:site.baseurl }}" />
<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/noscript.css" /></noscript>

<!-- Webmaster Verification Codes -->
<meta name="google-site-verification" content="8QuFiJY38Jyt4KRoaQV7e3ymgmz2d1f2bs9-q6rPn8Q" />
<meta name="msvalidate.01" content="FCA4B700F192727565A2354B488A3DD5" />

{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}

{% include cookieconsent.html %}