<style>
nav {
  overflow: visible;
  z-index: 1000 !important;
}
nav .links li {
  position: relative;
}
nav .links li > a {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
}
nav .links li > a:hover {
  color: #000;
  border-radius: 2px;
}
nav .links li > a .arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 35%;
  text-align: center;
  right: 10px;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .3) transparent;
}
nav .links li > a .arrow:after {
  content: "";
  border-left: 1px solid rgba(0, 0, 0, .15);
  top: -10px;
  left: -15px;
  position: absolute;
  height: 15px;
}
nav .links li ul {
  left: 0;
  margin: 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
  display: none;
}
nav .links li ul > li:hover {
  background: #9494b8;
}
nav .links li ul > li:hover > a {
  background: #9494b8;
  color: #000;
}
nav .links li > .drop a {
    color: black !important;
}
nav .links li ul > li a {
    color: black;
}
nav .links li:hover > .drop {
  display: block;
  animation: fadeInRight 0.3s ease;
  -webkit-animation: fadeInRight 0.3s ease;
}
</style>

<!-- This finds the current page so it can be highlighted. -->
{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->

<ul class="links">
    {% for entry in site.data.navigation %}
        {% if entry.url == current_page %}
            {% assign current = ' class="active"' %}
        {% else %}
            {% assign current = null %}
        {% endif %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
        
        <li{{ current }}>
            <a href="{{ site.baseurl }}{{ entry.url }}" class="trigger-drop">{{ entry.title }} ▼</a>
            <ul class="drop" style="list-style: none;">
                {% for sublink in sublinks %}
                <li class="active"><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
            <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<ul class="icons">
  <li><a href="https://twitter.com/{{site.twitter.username}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://discord.gg/DrvkJrV" class="fa fa-discord-alt" rel="nofollow"><span class="label">Discord</span></a></li> 
</ul>
