<!-- This finds the current page so it can be highlighted. -->
{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->

<ul class="links">
    {% for entry in site.data.navigation %}
        {% if entry.url == current_page %}
            {% assign current = ' class="active"' %}
        {% else %}
            {% assign current = null %}
        {% endif %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
        
        <li{{ current }}>
            <a href="{{ site.baseurl }}{{ entry.url }}" class="trigger-drop">{{ entry.title }} ▼</a>
            <ul class="drop" style="list-style: none;">
                {% for sublink in sublinks %}
                <li class="active"><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
            <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<ul class="icons">
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://twitter.com/{{site.twitter.username}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://www.youtube.com/channel/{{site.youtube}}" class="icon fa-youtube" rel="nofollow"><span class="label">YouTube</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://discord.gg/TQcbuT7z8D" class="fa fa-discord-alt" rel="nofollow"><span class="label">Discord</span></a></li> 
</ul>
