<!-- DYN -->
<script src="{{ "/assets/js/jquery.min.js" | prepend:site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | prepend:site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | prepend:site.baseurl }}"></script>
<script src="{{ "/assets/js/skel.min.js" | prepend:site.baseurl }}"></script>
<script src="{{ "/assets/js/util.js" | prepend:site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend:site.baseurl }}"></script>
<script src="{{ "/assets/js/vanilla-back-to-top.min.js" | prepend:site.baseurl }}"></script>
<script>addBackToTop({
  backgroundColor: 'rgba(240, 123, 5, 0.7)',
  textColor: '#fff'
})</script>
<script type="text/javascript" src="{{ "/assets/js/lightbox.js" | prepend:site.baseurl }}"></script>
<link rel="stylesheet" href="{{ "/assets/css/lightbox.css" | prepend:site.baseurl }}">
<script src="{{ "/assets/js/serviceworker_pwa.js" | prepend:site.baseurl }}"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwainstall@latest/dist/pwa-install.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function(){
      $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
      $('table.display').DataTable( {
          paging: false,
          stateSave: false,
          info: false,
          searching: true,
          "order": [[ 0, "desc"]]
      });
   });
</script>
