<div class="share-box">
  <h5>Diffondi questo articolo nella Galassia:</h5>

  <ul class="share-buttons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        class="icon fa-facebook" title="Condividi su Facebook"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">Facebook</a></li>

    <li><a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&amp;url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        class="icon fa-twitter" title="Condividi su X"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">X (Twitter)</a></li>

    <li><a href="https://wa.me/?text={{ page.title | url_encode }}%20{{ site.url }}{{ site.baseurl }}{{ page.url }}"
        class="icon fa-whatsapp" title="Condividi su WhatsApp" target="_blank" rel="noopener">WhatsApp</a></li>

    <li><a href="https://t.me/share/url?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&amp;text={{ page.title | url_encode }}"
        class="fa fa-telegram" title="Condividi su Telegram" target="_blank" rel="noopener">Telegram</a></li>

    <li><a href="https://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&amp;title={{ page.title | url_encode }}"
        class="icon fa-reddit-alien" title="Condividi su Reddit"
        onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;">Reddit</a></li>

    <li><a href="mailto:?subject={{ page.title | url_encode }}&amp;body={{ site.url }}{{ site.baseurl }}{{ page.url }}"
        class="icon fa-envelope" title="Condividi via Email">Email</a></li>
  </ul>
</div>
