.hoverbox {
  position: relative;
  display: inline-block;
  /* Make the width of box same as image */
  border: 1px solid #eee;
  border-top: 0;
  border-left: 0;
  .hovertext {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #f07b05;
    top: 10%;
    /* Adjust this value to move the positioned div up and down */
    width: 80%;
    /* Set the width of the positioned div */
    h3:hover {
      color: #f07b05;
    }
  }
  .hoversub {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #f07b05;
    width: 80%;
    /* Set the width of the positioned div */
    h3:hover {
      color: #f07b05;
    }
  }
}
.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
.video-container {
  position: relative;
  padding-bottom: 46.25% !important;
  padding-top: 30px !important;
  height: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 20px;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
  }
}