.search-results {
  display: none;
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    //margin: 0;
    li {
      padding: 5px 20px;
      span {
        font-size: .8em;
        font-weight: 300;
        color: #adb5bd;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &:last-child {
        margin-bottom: 3rem;
      }
      a {
        width: 100%;
        text-decoration: none;
        background-color: transparent;
        border-bottom-color: transparent;
        &:hover {
          border-bottom-color: transparent;
        }
        &:focus {
          outline: none;
        }
      }
      p {
        margin: 1rem 0 0 0;
      }
    }
  }
}

.site-tag a {
  display: inline-block;
  margin-right: 12px;
}